@model IQueryable<HealthyUDailyMiniChallenge.Domain.Entities.ChallengeStatus>

@{
    ViewBag.Title = "Index";
    
}
<table>
@foreach (var item in Model.ToList())
{
   <tr>
       <td>
           @item.AssignedChallenge.ChallengeDescription
       </td>
       <td>
           @item.AssignedChallenge.MaxDurationInSeconds
       </td>
       <td>
           @item.ChallengeUser.Name
       </td>
   </tr>
     
}
    </table>

<h2>Index</h2>
